/****** Main Styling ******/
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

html {
  height: 100%;
  width: 100%;
}
body {
	font-family: 'Rammetto One', cursive;
	font-size: 16px;
	color: #222;
  min-height: inherit;
  min-width: inherit;
	background-image: url("https://img-fotki.yandex.ru/get/17859/85893628.c67/0_16f717_c4a5da7b_orig.png"),
      linear-gradient(to right, rgba(250, 100, 100, 0.9), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}

